@model IEnumerable<Bank.Portifolio.Bussines.Domain.Dto.TradeCategories>
<br /><br /><br />
<p>
    @Html.ActionLink("Create New Business", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameClient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientSector)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValueBusiness)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameCategory)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameClient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientSector)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValueBusiness)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameCategory)
        </td>
        <td>
            @Html.ActionLink("Edit", "Index", new { /* id=item.PrimaryKey */ }, new { onclick = "return confirm('not implemented')" }) |
            @Html.ActionLink("Details", "Index", new { /* id=item.PrimaryKey */ }, new { onclick = "return confirm('not implemented?')" }) |
            @Html.ActionLink("Delete", "Index", new { /* id=item.PrimaryKey */ }, new { onclick = "return confirm('not implemented')" })
        </td>
    </tr>
}

</table>
